.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
background-color: #fff;
  img {
    max-width: 100%; /* Use 100% to prevent stretching */
    max-height: 100%; /* Use 100% to prevent stretching */
  }
}

.notification-button,
.search-button {
    background-color: #ad9797; /* Button background color */
    color: #45725c; /* Button text color */
    border: none;
    padding: 10px 15px; /* Adjust padding as needed */
    margin: 0 10px; /* Adjust margin as needed */
    border-radius: 5px; /* Adjust border radius as needed */
    cursor: pointer;
    transition: background-color 0.3s;
}

.notification-button:hover,
.search-button:hover {
    background-color: #555; /* Button background color on hover */
}



.header {
    height: 70px;
    padding: 20px 50px;
    background-color: rgb(1, 38, 69);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
    .logo {
      font-weight: bold;
      font-size: 20px;
    }
    
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: rgb(11, 107, 185);
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
  